﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Cart.aspx.cs" Inherits="Cart" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Morguarge HW04 Cart</title>
    <link href="Styles/Main.css" rel="stylesheet" />
    <link href="Styles/Cart.css" rel="stylesheet" />
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <img src="Images/banner.jpg" alt="Halloween Store" />
    </header>
    <section>
        <form id="form1" runat="server">
            <h1>Your shopping cart</h1>
            <asp:ListBox ID="lstCart" runat="server"></asp:ListBox>
            <div id="cartbuttons">
                <asp:Button ID="btnRemove" runat="server" Text="Remove Item" CssClass="button" OnClick="btnRemove_Click" /><br />
                <asp:Button ID="btnEmpty" runat="server" Text="Empty Cart" CssClass="button" OnClick="btnEmpty_Click" />
            </div>
            <div id="shopbuttons">
                <asp:Button ID="btnContinue" runat="server" Text="Continue Shopping" CssClass="button" PostBackUrl="~/Order.aspx" />
                <asp:Button ID="btnCheckOut" runat="server" Text="Check Out" CssClass="button" OnClick="btnCheckOut_Click" />
            </div>
            <asp:Label ID="lblMessage" runat="server" CssClass="button"></asp:Label>
        </form>
    </section>
</body>
</html>
